.noDisplay {
	display: none;
}

.header {
	padding: 5px;
	padding-left: 15px;
	font-size: 24px;
	vertical-align:middle;
	border-bottom-style: solid;
	border-bottom-color: white;
	text-align: left;
	background-color: black;
	color: white;
}

.headerRight {
	display: inline-block;
	float: right;
	margin-right: 30px;
}

.statusSubHeader {
	text-align: center;
	padding: 0 15;
	color: black /*white*/;
	font-size: 36px;
	line-height: normal;
}

.statusDetails {
	text-align: center;
	padding: 0 15;
	color: black /*white*/;
	font-size: 28px;
	line-height: normal;
}

.statusSmallDetails {
	text-align: center;
	padding: 0 15;
	color: black /*white*/;
	font-size: 22px;
	line-height: normal;
}

.statusDetailValue {
	color: orange /*yellow*/;
}

.build_offer {
	text-align: center;
	padding: 0 15;
	color: black /*white*/;
	font-size: 22px;
	line-height: normal;
}

.infoFieldOffer {
	color: orange;
	font-family: /*'Open Sans',*/ 'Helvetica Neue', Arial, sans-serif;
	text-align: center;
	font-size: 22px;
	line-height: normal;
	width: 250px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px dotted gray;
}

.infoFieldOfferDate {
	width: 180px;
}

.infoFieldOfferTel {
	width: 180px;
}

.infoFieldOfferMail {
	width: 350px;
}

#mainDiv {
	text-align: center;
	padding: 50px;
}

.screenTextAndFields {
	/*margin: 50px auto;*/
	/*width: 75%;*/
	text-align: center;
	padding: 0 75;
}

.screenButtons {
	text-align: center;
}

.buyInsurance {
	width: 580px;
}

.screenButton {
	padding: 10px 20px 10px 20px;
	margin: 0px 20px 25px 20px;
	color: white;
	background-color: #8ec250;
	font-size: 36px;
}

.startNewApplication {
	margin: 100px;
	padding: 50px;
	color: orange /*yellow*/;
	
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1000px;
    /*
    font: normal 24px Verdana, sans-serif;
    */
    background-color: white /*#0080be*/;
    color: black /*white*/;
    
    font-family: /*'Open Sans',*/ 'Helvetica Neue', Arial, sans-serif;
	font-size: 52px;
	font-weight: 300;
	height: auto;
	letter-spacing: normal;
	line-height:56px;
	text-align: center;
}

.infoHeader {
	font-family: 'Roboto Slab', Times;
	font-size:smaller
}

.infoText {
	color: black /*#00b0eb*/;
}

.infoField {
	/* Same as the body */
	background-color: white /*#0080be*/;
	color: orange /*white*/;
	font-family: /*'Open Sans',*/ 'Helvetica Neue', Arial, sans-serif;
	font-size: 60px;
	text-align: center;
	
	/* Specific */
	width: 450px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px dotted gray;
}

.infoFieldForNumber {
	width: 150px;
}

.smaller {
	font-size: smaller;
}

.status {
	margin: 15px;
}

.startNewCyberRisk {
	margin: 30px;
}

.infoTextAreaField {
	/* Same as the body */
	background-color: white /*#0080be*/;
	font-family: /*'Open Sans',*/ 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	color: black /*white*/;
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
	
	/* Specific */
	width: 700px;
	border: 3px dotted black;
}

.restError {
	color: red /*yellow*/;
	font-size: 75%;
}

table.main {
    border: 0px;
    width: 100%;
    height: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.main td {
    padding: 0px;
}

table.header {
    background-color:black /*#0080be*/;
    border: 0px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.header td {
    font: normal 12px Verdana, sans-serif;
    padding: 4px;
    color: white;   
    vertical-align: middle;
}
